
/* Smartphone e Tablet*/

@media (min-width: 320px) and (max-width: 991px){ 

/* Formatação de agência */

.agencia__item{
	text-align: center;
	margin: 10% 0;
}

.agency__titulo{
	margin: 0 auto;
	width: 75%;
	color: #777;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 30px;
	line-height: 25px;
	text-transform: uppercase;	
}

.agency__descricao{
	width: 85%;
	margin: 0 auto;
	color: #777;
	font-weight: 100;
	line-height: 25px;
}

.agencia__btn{
	display: block;
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: none;
	background-color: #d73e2d;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

}

/* Desktop */

@media (min-width: 992px){

/* Formatação de agência */

.agencia__item{
	text-align: center;
	margin: 5% 0;
	height: 275px;	
	border-radius: 5px;
}

.agency__titulo{
	margin: 0 auto;
	width: 75%;
	color: #777;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: 30px;
	line-height: 25px;
	text-transform: uppercase;	
}

.agency__descricao{
	width: 50%;
	margin: 0 auto;
	color: #777;
	font-weight: 100;
	line-height: 25px;
}

.agencia__btn{
	display: block;
	margin: 10% auto;
	width: 150px;
	height: 150px;
	border-radius: 150px;
	border: none;
	background-color: #d73e2d;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}

}