
/* Smartphone e Tablet */

@media(min-width: 320px) and (max-width: 767px){

/* Formatação do titulo */

.banner__subtitulo{
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.6;
	color: #fff;
}

}

/* Tablet e Desktop */

@media (min-width: 768px){

/* Formatação do titulo */

.banner__subtitulo{
	font-style: italic;
	font-size: 1.5em;
	line-height: 1.6;
	color: #fff;
}

}


