
/* Smartphone e Tablet*/

@media (min-width: 320px){

/* Formatação de projetos */

.projetos__descricao{
	text-align: center;
	padding-top: 20px;
	line-height: 25px;
	color: #777777;
	font-style: italic;		
}



}